@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.recoveryPasswordWrap {
    padding: 64px 0 56px;
    max-width: 540px;
    width: 100%;
    display: block;
    background: var(--color-white-primary);
    border-radius: 2px;
}

.recoveryPasswordConteiner {
    margin-inline: auto;
    max-width: 474px;
    width: 100%;
}

.logoWrap {
    margin: 0 auto 24px;
    max-width: 70px;
    max-height: 70px;
}

.logoWrap__logo svg {
    width: 70px;
    height: 70px;
    color: var(--color-ultramarine-blue);
}

.recoveryPasswordConteiner__title {
    margin-bottom: 0;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-raisin-black);
    text-align: center;
}

.recoveryPasswordConteiner__subtitle {
    margin-inline: auto;
    max-width: 370px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-philippine-gray);
    text-align: center;
}

.recoveryPasswordConteiner__subtitle_bold {
    font-weight: 700;
}

.verificationInputWrap {
    padding: 10px 0 24px;
    display: flex;
    justify-content: center;
}


.character {
    font-size: 20px;
    color: var(--color-raisin-black);
    background-color: var(--color-white-primary);
    border-radius: 2px;
    border: 1px solid var(--color-light-silver);
}

.characterSelected {
    position: relative;
}

.characterSelected:not(.character--filled):after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: var(--color-black-primary);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite step-end;
}