.headerWrap {
    padding: 16px 0;
    width: 1232px;
    display: flex;
    background: var(--color-alice-blue);
}

.headerContainer {
    margin-inline: auto;
    max-width: 1184px;
    width: 100%;
}

.headerContentWrap {
    display: flex;
}

.headerContentWrap__title {
    margin: 0;
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 700;
}

.headerContentWrap__settingsAction {
    align-self: start;
    padding: 8px 14px;
    max-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}