.headerWrap {
    padding: 16px 24px;
    width: 100%;
    display: flexbox;
    background: var(--color-alice-blue);
}

.headerContainer {
    margin-inline: auto;
    max-width: 1330px;
    width: 100%;
}

.headerContentWrap {
    display: flex;
    justify-content: space-between;
}

.headerContentWrap__title {
    margin: 0;
    max-width: 1054px;
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 700;
}

.headerContentWrap__settingsAction {
    align-self: start;
    padding: 8px 14px;
    max-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}