@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-white-primary: #fff;
    --color-lotion: #FAFAFA;
    --color-alice-blue: #F0F5FF;
    --color-anti-flash-white: #F0F0F0;
    --color-light-silver: #D9D9D9;
    --color-ultramarine-blue: #2F54EB;
    --color-dark-imperial-blue: #061178;
    --color-philippine-gray: #8C8C8C;
    --color-raisin-black: #262626;
    --font-primary: 'Inter', Tahoma, Verdana, sans-serif;
    --image-url-main-page: url(https://s3-alpha-sig.figma.com/img/ec64/847b/1d3b2bd1dd53a65dace5128315d0bb33?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cIfGs5dTezVsHythmn~1fGdIx~FrLU97V2yjJ9wd~IiXh3Wn99MXsjQTfwBbj6~F4BEDvlVlcyaTwnJDcXbkbxAJSeeEZfR5HIUCW3rk8WYv6taaX6BYr4GeP~2oG2OMpuNnTnmIjZay9JV2ilPgDB12HG9H77vR4k-bwKqb4mQjdqh46Ab6aSyJqCz86FpbJnNikKy-Nv8QY5hAQ59veh~Bv-3k8wRcrJYRPf9NrtcNcNBLTKOhYX0OrlnX3SStd0hUBKqYE-SR6GEa~AfD0xF4ctqwlU~WpPgBLlJujjpDHorCIte1~LkIZv80VvsSGBmbSdYJNzdSP20jE2tphw__);
    --image-url-auth-layout: url(/src/assets/authLayout/enterAuth.png);
}

.bodyRegularFont {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--color-raisin-black);
}

.bodyRegularHigherFont {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--color-raisin-black);
}