* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--color-text-grey);
}

button {
    outline: none;
    outline-offset: none;
    border: 1px solid transparent;
    background: var(--color-background-pure-white);
    cursor: pointer;
    user-select: none;
}

input, textarea {
    outline: none;
    border: solid 1px var(--color-border-pure-white);
}

img {
    cursor: pointer;
    user-select: none;
}

h1, h2 {
    user-select: none;
}